[Unit]
Description=UltraNote Infinity Wallet

[Service]
User=USER
Restart=always
RestartSec=3600s

WorkingDirectory=/home/USER/XUNI/
ExecStart=/usr/bin/walletd --config=/home/USER/XUNI/walletd.conf

[Install]
WantedBy=multi-user.target
