[Unit]
Description=UltraNote Infinity Walletd
After=network.target

[Service]
User=YOUR_USER
Group=YOUR_USER

ExecStart=/usr/bin/walletd --config=/etc/XUNI/paymentgate.conf
GuessMainPID=no

[Install]
WantedBy=multi-user.target
